<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="UTF-8"/>
    <meta name="Description" content="Application web de recettes"/>
    <meta name="tags" content="recettes, santé, courses"/>
    <title>Vit'Fée</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
   
    <link href="../static/css/styles.css"  type="text/css" rel="stylesheet">
    <link rel="icon" href="">
</head>

<body>

<!-- Navbar-->
<nav class="navbar navbar bg">
    <div class="container">
            <img src="{{url_for('static', filename='assets/img/img-logo.jpg') }}"
                 alt="" width="170">
        </a>
    </div>
</nav>

<div class=" text-center">
    <h2><span style="color:#e6a756;">Login</h2>
</div>

<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>


<!--Formulaire-->
<section>
<div class="container">
    <div class="row">
        <div class="col-sm-5">
        <form method="POST">
            <div class="form-group">

                <label for="email"><span style="color:#e6a756;">Adresse électronique:</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Entrez votre email" required>
            </div>
            <div class="form-group">
                <label for="pwd"><span style="color:#e6a756;">Mot de passe:</label>
                <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Entrez votre mot de passe" required>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox"><span style="color:#e6a756;"> Se souvenir de moi
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Envoyer</button>
            <a href="/sign-up" type="button" class="btn btn-link">S'inscrire<a>
            <a href="/accueil" type="button" class="btn btn-link">Continuer en tant qu'invité<a>
            
        </form>
        </div>
    </div>
</div>


</section>



<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="{{url_for('.static', filename='js/scripts.js') }}"></script>
</body>
</html>
